$breakpoint: 48em;

:root {
  --br100: 0.5rem;

  @media (min-width: $breakpoint) {
    --br100: 1.25rem;
  }
}

// colors

$soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);
$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$pale-orange: hsl(33, 100%, 98%);

// fonts

$fs-base: 1.125rem;
$ff-base: 'DM Sans', sans-serif;
$fw-400: 400;
$fw-700: 700;

$body-inline: 1rem;
$widget-wide: 540px;

$br-25: 0.25rem;

// animation

@keyframes bar {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
