<main class="container">
    <header>
        <h2>My balance
            <div class="number">$921.48</div>
        </h2>
    </header>
    <article>
        <h1>Spending - Last 7 days</h1>
        <ul class="chart">
        </ul>
        <footer>
            <h2>Total this month <div class="fw-bold fs-700 color-brown">$478.33</div>
            </h2>
            <h2>
                <div class="fw-bold color-brown">+2.4%</div>
                from last month
            </h2>
        </footer>
    </article>
</main>