<main class="container">
    <header>
        <h1 class="header-title">
            <div class="header-text">My balance</div>
            <div class="header-number">$921.48</div>
        </h1>
    </header>
    <article>
        <h2 class="chart-title">Spending - Last 7 days</h2>
        <ul class="chart">
        </ul>
        <footer>
            <h2 class="footer-total">
                <div class="footer-text">Total this month</div>
                <div class="footer-number">$478.33</div>
            </h2>
            <h2 class="footer-change">
                <div class="footer-number">+2.4%</div>
                <div class="footer-text">from last month</div>
            </h2>
        </footer>
    </article>
</main>